html, body {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-image: url("../tiles/galaxy.png")
  
  }
  canvas {
    display: block;
  }

  .home-button {
    position: fixed;
  top: 20px;
  left: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.3s;
  }
  
  .home-button span {
    position: relative;
    z-index: 1;
  }
  
  .home-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #5e3568;
    transition: all 0.3s;
  }
  
  .home-button:hover {
    padding-right: 50px;
  }
  
  .home-button:hover::after {
    left: 0;
  }
  
  .home-button:active {
    padding-right: 0;
  }
  
  .home-button:active::after {
    left: 100%;
  }
  
  
