html, body {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-image: url("../tiles/galaxy.png")
  
  }
  canvas {
    display: block;
  }
